doctype html
html
	head

	body
		if (result)
			each data in result
				div.pension
					p #{data.pen_region}
					p #{data.pen_name}
					p #{data.room_name}				
					p #{data.pen_period_divison}
					p #{data.pen_period_start}
					p #{data.pen_period_end}
					p #{data.weekdays}
					p #{data.friday}
					p #{data.weekends}
					p #{data.std_num_people}
					p #{data.max_num_people}
					p #{data.pyeong}
					p #{data.num_room}
					p #{data.num_kitchen}
					p #{data.air_existence}
					p #{data.etc}
					p #{data.pen_homepage}
					p #{data.pen_lot_adr}		
					p #{data.pen_road_adr}	
					p #{data.pen_ceo}
					p #{data.pen_phone1}	
					p #{data.pen_phone2}			
					p #{data.pen_checkin}				
					p #{data.pen_checkout}	
					p #{data.pen_check_caution}
					p #{data.pen_pickup}
					p #{data.pen_bbq}
					p #{data.pen_ground_existence}
					p #{data.pen_ground_description}
					p #{data.pen_etc_facility}
					p #{pen_valley_description}
					p #{pen_caution}
